$border: 1px solid #ccc;
$border-radius: 5px;
$gap: 20px;

.scss-test {
  padding: $gap;
  margin: $gap 0;
  border: $border;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;

  h2 {
    color: blueviolet;
  }
}
